.reports-container {
    padding: 20px;
  }
  
  .dropdown-container {
    display: flex;
    align-items: center;
  }
  
  .left-text {
    margin-right: 30px;
  }
  
  .ant-btn {
    margin-right: 10px;
  }
  
  .dropdown-select{

 width: 300px;
  }