.MobileNoInput{
    width:300;
}
.MemberDetails{
    border: 2px solid #d9d9d9;
    padding: 15px ;
}
.MemberDetailsInput{
    width: 200;
}
.NarrationInput{
    width:500;
}
.buttonOrange{
    background-color: #E47B25;
    color: white;
    border-radius: 9px;
  }
  .buttonBlue{
    background-color: #268DCB;
    border-color: #268DCB;
    border-radius: 10px;
  }
  .button{
    text-align: center;
  }