.Form{
    width: 98%; 
    height: 120%; 
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
}
.Datepicker{
    width:100%;
}
.Button{
    float: left;
}
.buttonOrange{

    background-color: #E47B25;;
    height: 35px;
    width: 145px;
  
  }
  .buttonBlue{
  background-color: #268DCB;
  height: 35px;
  width: 145px;
  }