/*--------------------------------------------------------------
# Logo
--------------------------------------------------------------*/

.logo {
  line-height: 1;
}

@media (min-width: 1200px) {
  .logo {
    width: 350px;
  }
}

.logo img {
  max-height: 100px;
  margin-right: -16px;
}

.logo span {
  font-size: 16px;
  font-weight: 700;
  color: #012970;
  font-family: 'Nunito', sans-serif;
}
.maha_css{
  color: white;
  font-weight: 700;
  padding-top: 100px;
  font-size: 20px;
}




/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.header {
    transition: all 0.5s;
    z-index: 997;
    height: 75px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    /* background-color:#614193; */
    background: linear-gradient(to right, rgb(179, 165, 220), rgb(77, 77, 224)); /* Linear gradient from blueviolet to blue */
    padding-left: 20px;
  }
  
  /* Search Bar */
  /* Toggle Sidebar Button */
  .header .toggle-sidebar-btn {
    font-size: 32px;
    padding-left: 10px;
    cursor: pointer;
    color: #012970;
  }
  
  .d-none.d-lg-block {
    text-decoration: none;
}
span{
  text-decoration: none;
}
