.footer {
    padding: 20px 0;
    font-size: 14px;
    transition: all 0.3s;
    border-top: 1px solid #cddfff;
    position: relative;
  }
  
  .footer .copyright {
    text-align: center;
    color: #012970;
  }
  
  .footer .credits {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: #012970;
  }
  span{
    display: block;
  }
  .Address{
    color:rgb(243, 226, 226);
    font-family: roboto; 
    font-size: 14px;
  }
  .style1 {
    background-color:black;
    border-top: 10px solid green;
  }
  .style2{
    color:rgb(243, 226, 226);font-family: roboto; font-size: 14px;
  }
  /* .footer_bgcolor{
    background-color: black;
  } */
  .style4{
    color: black;
  }