
.Form{
    width: 100%;
    height: 120%;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    margin-right: 20px;
}
.buttoncolor{
    /* float: right; */
    background-color: #E47B25;
    color: white;
    height: "35px";
     width: "145px";
    }
    .buttoncolor2{

        
        float: right;
background-color: #268DCB;
color: white;
 text-align: right;
 height: "35px";
 width: "145px";
    }